<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Continuous Integrations</li>
      <li>Continuous Delivery</li>
      <li>Continuous Deployment</li>
      <li>add more...</li>
    </ul>
  </body>
</html>
